@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  font-family: "Public Sans", sans-serif;
}

body {
  color: #2d314d;
  font-size: 1.8rem;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 4.7rem;
  letter-spacing: -0.71px;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.6rem;
    line-height: 6.4rem;
    letter-spacing: -0.9px;
    margin-bottom: 2.4rem;
  }
}

h2 {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 3.76rem;
  letter-spacing: -0.57px;
  margin-bottom: 1.4rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 4rem;
    line-height: 6.4rem;
    letter-spacing: -0.6px;
    margin-bottom: 1.7rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.8rem;
  letter-spacing: -0.36px;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: -0.43px;
    margin-bottom: 2.6rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: -0.29px;
  transition: 200ms ease-in-out;
}
h4:hover {
  color: #30C88F;
  cursor: pointer;
}

small {
  color: #9698a6;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.16px;
}

p {
  color: #9698a6;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: -0.23px;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -0.2px;
  }
}

.t-copyright {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.23px;
}
@media screen and (min-width: 768px) {
  .t-copyright {
    text-align: right;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}
body.disable-scroll {
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea {
  background: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

label {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.container {
  padding: 0 2.4rem;
  margin: 0 auto;
  max-width: 111rem;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.grid {
  display: grid;
  justify-content: center;
  gap: 3.2rem;
  margin-top: 5.6rem;
}
@media screen and (min-width: 680px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}

.cta {
  background: linear-gradient(160deg, #31d35c 0%, #2bb7da 100%);
  border-radius: 2.2rem;
  color: white;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.5rem 3.5rem;
  max-height: 4.4rem;
  transition: 200ms ease-in-out;
  height: 4.4rem;
  max-width: 16.6rem;
  position: relative;
}
.cta:hover:before {
  opacity: 0.4;
}
.cta::before {
  background-color: white;
  border-radius: 2.2rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 200ms ease-in-out;
  height: 100%;
  width: 100%;
}

.header {
  background-color: white;
  overflow: hidden;
  z-index: 3;
  position: sticky;
  top: 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.4rem;
}
@media screen and (min-width: 768px) {
  .header .container {
    height: 8rem;
  }
}
.header .container .cta {
  display: none;
}
@media screen and (min-width: 992px) {
  .header .container .cta {
    display: block;
  }
}
.header__hamburger {
  cursor: pointer;
  width: 2.4rem;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger:before, .header__hamburger:after, .header__hamburger div {
  background: #2d314d;
  content: "";
  display: block;
  height: 0.1rem;
  margin: 0.4rem 0;
  transition: 0.35s;
}
.header__hamburger.open::before {
  transform: translateY(0.5rem) rotate(135deg);
}
.header__hamburger.open::after {
  transform: translateY(-0.5rem) rotate(-135deg);
}
.header__hamburger.open div {
  transform: scale(0);
}

.nav__links {
  background-color: white;
  border-radius: 0.4rem;
  position: fixed;
  top: 10rem;
  left: 2rem;
  right: 2rem;
  display: none;
  text-align: center;
  padding: 4rem 0;
  margin: 0 auto;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .nav__links {
    margin-left: 2.8rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 3rem;
    opacity: 1;
    padding: 0;
    transform: none;
    position: static;
  }
}
.nav__links.open {
  display: block;
}
.nav__links li {
  color: #2d314d;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: -0.11px;
  position: relative;
  transition: 200ms ease-in-out color;
}
.nav__links li:hover {
  color: #9698a6;
}
@media screen and (min-width: 768px) {
  .nav__links li {
    color: #9698a6;
    font-weight: 500;
  }
  .nav__links li:hover {
    color: #2d314d;
  }
  .nav__links li:hover::before {
    opacity: 1;
  }
}
.nav__links li:not(:last-of-type) {
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  .nav__links li:not(:last-of-type) {
    margin-bottom: 0;
  }
}
.nav__links li::before {
  background: linear-gradient(160deg, #31d35c 0%, #2bb7da 100%);
  content: "";
  position: absolute;
  opacity: 0;
  bottom: -3.2rem;
  height: 0.3rem;
  width: 100%;
  transition: 200ms ease-in-out;
}

.logo {
  margin-top: 0.5rem;
}

.overlay {
  background: linear-gradient(#2d314d, rgba(45, 49, 77, 0));
  position: absolute;
  top: 6.4rem;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 400ms ease;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .overlay {
    display: none;
  }
}
.overlay.open {
  opacity: 1;
  pointer-events: all;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.main {
  overflow: hidden;
}

.hero {
  background-color: #fafafa;
}
@media screen and (min-width: 992px) {
  .hero {
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: -26rem;
    background-position-x: 45rem;
    height: 65.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-position-x: calc(100vw - 83.2rem);
  }
}
.hero .container {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
}
@media screen and (min-width: 992px) {
  .hero .container {
    flex-direction: row-reverse;
  }
}
.hero__content {
  padding: 0 2.4rem;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .hero__content {
    text-align: left;
    margin-top: 17rem;
    width: 55%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding: 0;
  }
}
.hero__content h1 {
  margin: 0 auto 1.6rem;
  max-width: 40rem;
}
@media screen and (min-width: 992px) {
  .hero__content h1 {
    margin: 0 0 2.4rem;
  }
}
.hero__content p {
  max-width: 44rem;
  margin-bottom: 3.6rem;
}
.hero__content .cta {
  margin-bottom: 8.8rem;
}
@media screen and (min-width: 992px) {
  .hero__content .cta {
    margin-bottom: 17rem;
  }
}
.hero__img {
  background-image: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  position: relative;
  margin-bottom: 4.1rem;
  height: 75.2vw;
}
@media screen and (min-width: 992px) {
  .hero__img {
    background: none;
    margin-bottom: 0;
    width: 45%;
  }
}
.hero__img img {
  width: 100%;
  padding: 0 2.4rem;
  position: absolute;
  bottom: -1.7rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 82rem;
}
@media screen and (min-width: 992px) {
  .hero__img img {
    position: relative;
    padding: 0;
    left: initial;
    transform: none;
    top: -12.2rem;
    right: -3rem;
    width: auto;
  }
}

.features {
  background-color: #f3f4f6;
  text-align: center;
  padding: 6.4rem 0;
}
@media screen and (min-width: 992px) {
  .features {
    padding: 9.6rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    text-align: left;
  }
}
.features p {
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 60rem;
}
@media screen and (min-width: 992px) {
  .features p {
    font-size: 1.8rem;
    letter-spacing: -0.16px;
    max-width: 65rem;
  }
}
@media screen and (min-width: 1200px) {
  .features p {
    margin: 0;
  }
}

.feature {
  margin: 0 auto;
  max-width: 36rem;
}
@media screen and (min-width: 1200px) {
  .feature {
    margin: 0;
    min-width: 25.5rem;
  }
}
.feature img {
  margin-bottom: 2.4rem;
}

.articles {
  background-color: #fafafa;
  padding: 8.8rem 0;
}
@media screen and (min-width: 768px) {
  .articles {
    padding: 8rem 0;
  }
}
.articles .grid {
  gap: 2.4rem;
}
@media screen and (min-width: 992px) {
  .articles .grid {
    gap: 3rem;
  }
}

.article {
  background-color: white;
  border-radius: 0.5rem;
  transition: 200ms ease-in-out;
}
.article:hover {
  transform: translateY(-0.2rem);
}
.article img {
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
  height: 20rem;
  width: 100%;
}
.article__content {
  padding: 2.5rem 3.1rem;
  padding: 2.5rem 2.4rem;
}
.article__content h4 {
  margin: 0.8rem 0;
}
.article__content p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.footer {
  background-color: #2d314d;
  color: white;
  padding: 4rem 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 4.8rem 0;
  }
}
.footer .container {
  display: grid;
  row-gap: 3.2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4.4rem 2rem;
    row-gap: 6.3rem;
    text-align: left;
  }
}
.footer__logo {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.footer nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer nav {
    flex-direction: row;
    gap: 6rem;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
@media screen and (min-width: 992px) {
  .footer nav {
    gap: 12.6rem;
  }
}
@media screen and (min-width: 992px) {
  .footer nav {
    margin-left: -9rem;
  }
}
.footer nav ul li {
  margin-bottom: 0.8rem;
  min-width: 10rem;
}
.footer nav ul li a {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -0.23px;
  transition: 200ms ease-in-out;
}
.footer nav ul li a:hover {
  color: #30C88F;
}
.footer .cta {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer .cta {
    justify-self: end;
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 0;
  }
}

.socials {
  display: flex;
  gap: 1.6rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .socials {
    gap: 1.3rem;
    margin: 0;
  }
}
.socials li a {
  color: #FFFFFF;
  font-size: 2.4rem;
  transition: 200ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .socials li a {
    font-size: 2.3rem;
  }
}
.socials li a:hover {
  color: #30C88F;
}
